# python
.venv/
__pycache__/
*.pyc


# local models (shouldn't be in repo)
models/
*.onnx
*.onnx.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

